@import "tailwindcss";
@plugin "tailwind-scrollbar";

body {
  color: white;
  overflow: overlay;
  flex-shrink: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root{
  scrollbar-color: transparent;
}

@theme {
  --color-customgray: #1f1f1f;
  --color-customgray2: #121212;
  --color-customgray3: #282828;
  
}

.customButton {
  @apply hover:scale-110 hover:brightness-110 active:scale-100 active:brightness-75 transition-all duration-100 outline-none border-none;
}

::-webkit-scrollbar{
  width: 0;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

button, input, a {
  -webkit-app-region: no-drag;
  outline: none;
  border: none;
}
input, textarea {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
